<html>
  <head>
    <title>Test All Features</title>
  </head>
  <body>
    <div id="content">
      {{ partial 'header' }}
      
      <span class="question {{ page.a_special_class }}">
        2 + 3
      </span>
      <span class="answer">
        {{(2 + 3)}}
      </span>
      {{ if user.logged_in }}
        {{ user.name }} is logged in
      {{ end }}

      <span class="helper"> 
        {{ helper_test[] }}
      </span>

      <div id="sidebars">
        {{ partial 'sidebar', ["sidebar_name"=>"Left Sidebar" | a_number => 20 | use_special => false ] }}
        <div>Center</div>
        {{ partial 'sidebar', ["sidebar_name"=>"Right Sidebar" | a_number => 35 | use_special => true ] }}
      </div>
   
      {{ foreach blogs }}
        <div class="blog_aerostat">
          <h4> {{ title }} </h4>
          <p> {{ body }} </p>
          
          {{ partial 'blog_gallery' }}

        </div>
      {{ end }}
   
    </div>

    <div id="footer">
      {{ foreach getBlogs[2,'extra'] }}
        <div class="blog_excerpt">
          <span> {{ title }} </span>
        </div>
      {{ end }}
    </div>
   
  </body>
</html>