<html>
  <head>
    <title>Special Indents</title>
  </head>
  <body>
    <div id="content">
      <p>
        Test that control blocks do not add extra indentation to it's indented contents.
      </p>
      
      {{ if user.logged_in }}
        {{ user.name }} is logged in, 4th indent
      {{ end }}
   
      {{ foreach blogs }}
        <h4> {{ title }} 3rd indent</h4>
        <p>
          {{ body }}
          4th indent
        </p>
      {{ end }}

      {{ if user.logged_in }}
        {{ foreach blogs }}
          {{ partial 'blog_gallery' }}
          3rd indent
        {{ end }}
      {{ end }}

    </div>
  </body>
</html>